<%- include('../partials/_header.ejs') %>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Please create a new account to continue.</h1>
    <br>
    <form class="sign" action="/auth/sign-up" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      <br>
      <button type="submit" class="button is-link">Sign up</button>
    </form>
  </body>
</html>