<%- include('../partials/_header.ejs') %>
    <title>Game Record Index</title>
</head>
<body>
    <h1><%= user.username %>'s Dominion Game Records</h1>
    <p><a href="/games/new">Add New Record</a></p>
    <ol>
      <% games.forEach(game => { %>
        <li class="gamelist"><a href="/games/<%= game._id %>">Game ID: <%= game._id %></a></li>
      <% }); %>
    </ol>
    <p><a href="/auth/sign-out">Sign out</a></p>
</body>
</html>