<%- include('../partials/_header.ejs') %>
    <title>Add a New Record</title>
  </head>
  <%- include('../partials/_nav.ejs') %>
  <body>
    <h1>Add a New Dominion Game Record.</h1>
    <a href="/games">Back to your Game Records.</a>
    <% if (validationError === false) { %>
        <%- include('../partials/_new-empty.ejs') %>
    <% } else if (validationError === true) { %>
        <%- include('../partials/_new-filled.ejs') %>
    <% }; %>
      <button type="submit" class="button is-primary">Add Record</button>
    </form>
  </body>
</html>